header h1{
  color: blue;
  font-weight: 800;
  font-size: 5em;
}


@font-face {
  font-family: 'Raleway';
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap") format('truetype');
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

nav{
  display: flex;
}

.container{
  padding: 2%;
  background-color: #e4e8e5 ;
  font-family: 'Raleway', sans-serif;
}

main{
  padding: 0% 4% ;
}

ul {
  list-style-type: none;
  box-shadow: 1px 1px 1px 1px #888888;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: #04AA6D;
  border: 0.1px black solid;
}

.active {
  background-color: #04AA6D;
  border: 0.1px black solid;
}

.aboutMe img{
  height: 10em;
  width: 10em;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
}

/****  About me page *****/
#aboutMe{
  margin: 0;
}

figure{
  margin-left: 0;
}


/****  Contact me page *****/
table{
  padding: 2%;
  font-weight: bold;
}

input{
  height: 2em;
  border: green solid 1px;
  outline:none;
}

input:focus{
  border: blue solid 2px;
}

textarea{
  border: green solid 1px;
}

textarea:focus{
  border: blue solid 2px;
}

#submit{
  background-color: #007bff;
  border: #007bff 1px solid;
  border-radius: 2px;
  color: white;
  height: 3em;
  width: 6em;
  padding: 10%;
}



/** Mobile devices **/
@media screen and (max-width: 680px) {

  body{
    background-color: #e4e8e5;
  }
  
  .container header h1{
    color: blue;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: -webkit-xxx-large;
  }

  ul {
    list-style-type: none;
    width: 100vw;
  }

  li{
    width: 80vw;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover:not(.active) {
    background-color: #04AA6D;
    border: 0.1px black solid;
  }
  
  .active {
    background-color: #04AA6D;
    border: 0.1px black solid;
  }

  
  li a:hover:not(.active) {
    background-color: #04AA6D;
  border: 0.1px black solid;
  }
}
