header h1{
  color: blue;
  font-weight: 800;
  font-size: 5em;
}


@font-face {
  font-family: 'Raleway';
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap") format('truetype');
}

body {
  margin-left: 10%;
  margin-right: 10%;
  /* font-family: 'Raleway', sans-serif; */
}

nav{
  display: flex;
}

.container{
  padding: 2%;
  background-color: #e4e8e5 ;
}

/* ul {
  list-style-type: none;
  margin-top: 40px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
} */

ul {
  list-style-type: none;
  /* border: 1px black solid; */
  box-shadow: 1px 1px 1px 1px #888888;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04AA6D;
  border: 0.1px black solid;
}

.active {
  background-color: #04AA6D;
  border: 0.1px black solid;
}

.aboutMe img{
  height: 10em;
  width: 10em;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
}


@media screen and (max-width: 680px) {
   ul {
    list-style-type: none;
    /* background-color: #f1f1f1; */
    width: 190px;
  }
  
  li{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: none;
  }
  
  .active {
    background-color: #04AA6D;
    border: 0.1px black solid;
  }
  
  li a:hover:not(.active) {
    background-color: #04AA6D;
  border: 0.1px black solid;
  }
}